<html>
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous">
  </head>
  <body>

    <div class="container" style="padding:20px">

      <div class="card card-body bg-light">
        <h1>ChatGPT Spanish Translation</h1>
        <div class="alert alert-info" role="alert"
             style="margin: 0rem 2rem">
          Edit the "Text to translate", add a "Temperature (strictness of the translation)" then press Submit.<br/>
          This will send the prompt and the text to ChatGPT.
        </div>
      </div>

      <div class="card card-body bg-light"
           style="margin-top: 1rem">
        <form action="/translate" method="post">
          Prompt: <br/>
          <input type="text" class="form-control"
                 name="prompt"
                 value="Please translate the following text to Spanish:">
          <br/>
          Text to translate: <br/>
          <input type="text" class="form-control" placeholder="Type here"
                 name="text">
          <br/>
          Temperature (0-2* 0 most strict, 2 most freeform/random): <br/>
          <input type="text" class="form-control" placeholder="0.7"
                 name="temp">
          <br/>
          <input type="submit" value="OK" class="btn btn-primary">
        </form>
      </div>
    </div>
    <!-- END container -->
  </body>
</html>