<html>
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="padding:20px">
      <div class="card card-body bg-light">
      <h1>Prompt</h1>
      <p>{{prompt}}</p>
      <h1>Base Model Translation</h1>
      <p>{{translation1}}</p>
      <h1>Trained Model Translation</h1>
      <p>{{translation2}}</p>
      <form action="/" method="get">
        <button value="Return" class="btn btn-primary">Return</button>
      </form>
      </div>
    </div>
  </body>
</html>